
.header1{
    background-image: url('images/back9.jpg');
    background-repeat:no-repeat;
    background-position: center center;
}

.fc-white{
    color:white;
}

.fc-333{
    color:#333333;
}

.shadow{
    box-shadow: 0 0 30px black;

}

.min-h-200{
    min-height: 200px;
}

.min-h-250{
    min-height: 250px;
}

.min-h-270{
    min-height: 270px;
}

.text-shadow-black{
    text-shadow:4px 4px #000000;
}

.text-shadow-white{
    text-shadow:4px 4px #FFFFFF;
}

////////Padding and Margin/////////////

.p-10{
    padding: 10px;
}

.p-15{
    padding: 15px;
}

.p-20{
    padding: 20px;
}

.pt-10{
    padding-top: 10px;
}

.pt-15{
    padding-top: 15px;
}

.pt-20{
    padding-top: 20px;
}

.pt-100{
    padding-top: 100px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-15{
    padding-bottom: 15px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-100{
    padding-bottom: 100px;
}

.pl-10{
    padding-left: 10px;
}

.pl-15{
    padding-left: 15px;
}

.pl-20{
    padding-left: 20px;
}

.pl-100{
    padding-left: 100px;
}

.pr-10{
    padding-right: 10px;
}

.pr-15{
    padding-right: 15px;
}

.pr-20{
    padding-right: 20px;
}

.pr-100{
    padding-right: 100px;
}

.m-1{
    margin: 10px;
}

.m-1{
    margin: 15px;
}

.m-20{
    margin: 20px;
}


.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.main-menu a{
    color:#009933;
}

.submenu2{
    display: none;
    position: absolute;
    left: 196px;
    top: 0px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 150px;
}

.submenu2 a{
     color:#009933;
     text-decoration: none;
}

.submenu2 div:hover{
     
    background-color: #eee;
}

.u{
    text-decoration:underline;
}

.fs-20{
    font-size: 20px;
}

.fs-25{
    font-size: 25px;
}

.fs-27{
    font-size: 27px;
}

.fs-30{
    font-size: 30px;
}

.fs-35{
    font-size: 35px;
}


.fs-40{
    font-size: 40px;
}

.fs-50{
    font-size: 50px;
}

.fs-60{
    font-size: 60px;
}


.dropdown-childs{
    font-size:18px;
}

.bg-black{
    background-color: #000000;
}

.bg-333{
    background-color: #333333;
}

.w-50{
    width:50px;
}

.w-100{
    width:100px;
}


.w-150{
    width:150px;
}


#pilaresTable td{
    padding:30px;
    font-size: 25px;
}

.footer-container{
    min-height: 20px;
    color:#FFF;
}

.b-b{
    border-bottom:1px solid black;
}

.b-b-grey{
    border-bottom:1px solid #ccc;
}


.dropdown-menu a{
    font-size:20px;

}

.imgBody{
    float:left;
    width:200px;
    height:200px;
    margin-right:10px;
    margin-top:5px;
}

.imgBody2{
    width:200px;
    height:200px;
    border:solid black 1px;
}

.duaFotos{
    width:550px;
    height: 100px;
}

.imgBodyMujer{
    float: left;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    margin-top: 5px;
}

.bold{
    font-weight:bold;
}

.cursor-p{
    cursor: pointer;
}



