<script type='text/template'>

<div class='container min-h-270'>
    <h1>Bayaan en Español</h1>

    <h3>Dars Siratun-Nabi 1</h3>
    <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&episode_id=3990436" style="width: 100%; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
    <h3>Dars Siratun-Nabi 2</h3>
    <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&episode_id=3990378" style="width: 100%; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
    <h3>Dars Siratun-Nabi 3</h3>
    <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&episode_id=3990341" style="width: 100%; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
    <h3>Dars 02 - El Profeta Muhammad (Sallallahu Alaihi Wa Sallam)</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132525349&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 03 - El Pudor - Viernes 07-02-2014</h3>
    <iframe src="http://www.spreaker.com/embed/player/standard?autoplay=false&episode_id=4021775" style="width: 100%; height: 131px; min-width: 400px;" frameborder="0" scrolling="no"></iframe>
    <h3>Dars 04 -AL-Îthâr - El Altruismo</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/148344746&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 05 - El corazón espiritual</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/139249271&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 06 - La Obediencia a Allâh y la Alegria</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/140008382&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 07 - Sâdaqah - La caridad extingue la ira de Allâh</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141154830&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 08 - Istigfar, pedir perdon a Allâh</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142039456&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 09 - Rabbana atina - Vier</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143434632&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
    <h3>Dars 10 - Agradecer A Allâh - Viernes 18 - 04 - 2014(1)</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/145744246&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
    <h3>Dars 11 - Valorar cada Minuto</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147578838&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 12 - Salâtul-Anwâr, La Oración de las Luces</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147723094&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>  
    <h3>Dars 14 - Los aspectos que roderon Al Isrâ wal-Mi'ray</h3>  
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152440855&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 15 - Las Virtudes del mes de Sha'bân - 30-05-2014</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152393288&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 16 - La Oración de la Istijarah - 06-06-2014</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153314927&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 17 - No hay algo que dejes por Allâh, sin que Él te de algo mejor - 13-06-2014</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154265530&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Dars 18 - El Sagrado Qurân</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157414151&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <h3>La Opinión Acerca Del Aborto</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/151867410&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
    <h3>Los Signos del Qiyamah (Fin del mundo)</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/31495678&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Los Valores que trae el Mes de Ramadân</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157225134&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Preparación para recibir el mes de ramadan</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/155803531&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Perspectivas Espirituales Acerca de Ramadân y el Ayuno</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/155753215&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Islam no es una religión de Extremismo</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152549163&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Los Derechos de la Mujer en el Islam</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/151500659&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Malentendidos Acerca del Islam parte 1</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149836545&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Malentendidos Acerca del Islam parte 2</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149836547&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Aprenda los conceptos básicos del Islam</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/34660551&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>El profeta Muhammad (Sallallahu Alaihi Wa Sallam)</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149250188&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>La unicidad de Dios en el Islam</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149250187&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>El Qurân- La Revelación Final</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149250184&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>La verdad acerca de Jesús</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149250183&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Los 5 Pilares del Islam</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149250177&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Al-Adhan- El llamado a la oración</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149021819&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>Wudu - La Ablución</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/131926618&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <h3>La Advertencia contra la Opresión</h3>
    <iframe width="100%" height="131px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/131640803&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>

</script>