<script type='text/template'>

<div class='container p-20'>
    <h3>Reglas del Baño que se deben tratar de seguir</h3>
    <ul>
       <li> Entrar con la pierna izquierda.</li>
       <li>Salir con la pierna derecha</li>
       <li> Rezar dua y rezarlo antes de entrar y no adentro. Dua: <BR/>
        <img src="images/duaBano.png" /></li>
       <li> Ir con "topi" o tener la cabeza cubierta.</li>
       <li> Orinar sentado.</li>
       <li> El pantalon no debe tocar el piso.</li>
       <li> Limpiar la tasa si ay gotas de orine y enguagar el papel.</li>
       <li> Si no ay agua usar tierra.</li>
       <li> Limpiarse con agua y secarse.</li>
        <li> No hablar almenos que sea necesario.</li>
        <li> Dua de salir, se reza afuera del ba&#241;o: <BR/>
        <img src="images/duaSalirBano.png" /></li>
        <li> Usar numeros impares para todo, para limpiarse, para uso de cantidad de papel o tierra, etc.</li>
        <li> Usar la mano izquierda para lavarse.</li>
        <li> Usar chancletas.</li>
        <li> Lavarse las manos antes de salir.</li>
        <li> No orinar en la regadera.</li>
        <li> Hacer bulla leve al entrar o encenter la luz para alejar Jinnats.</li>
        <li> La derecha no se puede usar para tocar las partes intimas.</li>
        <li> Tratar de no ver lo que uno defeco.</li>
        <li> Afeitarse cada 40 dias, preferiblemente semanal. Esto incluye axilas, pelos de hombligo y abajo, y los bigotes no pueden estar por debajo de los labios. Preferiblemente dejarse la barba y afeitarse los bigotes.</li>
    </ul>
</div>

</script>