<script type='text/template'>

<div class='container p-20 min-h-270'>
    <h3>Ciencia y Sunnah en el Islam</h3>
    <ol>
        <li class='fs-20'>Tomar agua sentado:</li>
        <p>
            <img class="imgBody" src="images/drink_sitting.png">
            Tomar agua sentado es algo que el profeta Mohammed (SAW) nos enseño hace 1,400 años atras. Gracias a los avances tecnológicos de hoy en dia podemos probar que tomar agua 
            sentado es muy saludable, mientras que tomar agua parado es muy dañino para el cuerpo. Tomar agua sentado nos salva de problemas en el estomago y en los riñones. Que el profeta
            lo haya dicho en un tiempo sin avances científicos demuestra la grandeza del Islam.
        </p>
    </ol>
</div>

</script>