<script type='text/template'>

<div class='container'>
    <h3>Duas</h3>
    <p class='pb-10'>
        <h4>Haj (Peregrinación)</h4>
        <div>
            A la persona que se va a haj se le pide dua. El dua que se debe pedir al haji es el siguiente:
            Decir lo siguiente al despedirse de aquella persona que va a realizar el haj (la peregrinacion):
        </div>
        <div>
            <img src="images/dua_haj.png" />
        </div>
        <div>Zawwadakallahuttaqwa wa wajjahaka fil khayri wa kafakalhamma</div>
        <div>Que Allah te de taqwah como provicion, te dirija hacia el bien, y que el sea suficiente para ti en las preocupaciones.</div>
    </p>
    <p class='pb-10'>
        <h4>Duas de Ramadan</h4>
        <h5>Dua de Ayuno</h5>
        <div>
            <img class="duaFotos" src="images/sehrihDua.jpg" />
        </div>
        <h5>Dua de Sehrih</h5>
        <div>
            <img class="duaFotos" src="images/sehri2Dua.jpg" />
        </div>
        <h5>Dua de Iftari</h5>
        <div>
            <img class="duaFotos" src="images/iftariDua.jpg" />
        </div>
        <h5>Dua de Shab-e-qadr (Noches del 21, 23, 25, 27 y 29 de Ramadan)</h5>
        <div>
            <img class="duaFotos" src="images/shabeqdrDua.jpg" />
        </div>
    </p>
    <p class='pb-10'>
        <h4>Dua antes de entrar al baño</h4>
        <div>Rezar dua y rezarlo antes de entrar y no adentro. Dua:</div>
        <div>
            <img src="images/duaBano.png" />
        </div>
        <h4>Dua despues de salir del ba&ntilde;o</h4>
        <div>Dua de salir, se reza afuera del ba&#241;o:</div>
        <div>
            <img src="images/duaSalirBano.png" />
        </div>
    </p>
</div>

</script>