<script type='text/template'>

<div class='container p-20'>

    <h2>Hadith</h2>
    <ol>
        <li>

            <h4>"Ciertamente los mas cecanos a Allah son aquellos que dicen el salam primero."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>
            <ul>
                <li> El saludo de un musulman es una oracion de paz.</li>
                <li> El salam crea amor entre los musulmanes.</li>
                <li> No esperes a que otros te saluden sino que trata de ser el primero en ofrecer el saludo.</li>
            </ul>
        El salam es el siguiente: <BR/><Br/>

        Assalamu’alaikum warahmatullahi wabarakatuh <BR/><BR/>

        <div style="font-size:25px;">
         السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ </div><BR/>

         Que la paz, merced y bendicion de Allah este contigo.

        </li>
        <hr>
        <li>
            <h4>"Nombra a Allah (antes de comer) y comer con la mano derecha."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>
            <ul>
                <li> No comas con la mano izquierda.</li>
                <li> Nosotros usamos esta mano para hacer istinya.</li>
                <li> Siempre menciona el nombre de Allah antes de comer.</li>
                <li> Shaitan (Satanas) comparte la comida de aquellos que no mencionan a Allah antes de comer.</li>
            </ul>
            <div>
                Hay tantas personas muriendo de hambre, debemos siempre de estar agradecidos a Allah por cada granito de comida que comamos y debemos tratar de ayudar y alimentar a los que no
                 tienen.
            </div>
        </li>

        <hr>
        <li>
            <h4>"Ninguno de nosotros bebe estando de pie."</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li>No sigamos los hábitos de la gente arrogante.</li>
            <li>Agradecemos siempre a Allah por sus favores y muestra nuestra humildad.</li>
            <li>Los animales comen y beben de pie.</li>
            </ul>
            <div>Tomar agua sentado es algo que el profeta Mohammed (SAW) nos enseño hace 1,400 años atras. Gracias a los avances tecnológicos de hoy en dia podemos probar que tomar agua sentado es muy saludable, mientras que tomar agua parado es muy dañino para el cuerpo. Tomar agua sentado nos salva de problemas en el estomago y en los riñones. Que el profeta lo haya dicho en un tiempo sin avances científicos demuestra la grandeza del Islam.</div>

        </li>

        <hr>
        <li>
            <h4>"El paraíso esta bajo los pies de las madres."</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li> Nuestras madres nos cuidan con dolor y dificultad.</li>
            <li> Nunca podremos retribuirles por su amor y bondad.</li>
            <li> Si obedecemos y respetamos a nuestras madres, entraremos al Yannah (Paraíso). Allah estará contento con aquellos que sirven a sus padres. </li>
            </ul>
            <div>Un hombre le pregunto al profeta Muhammad (Sallallahu Alaihi Wa
            Sallam): Quien debería merecer mi mayor apoyo y compañía? El profeta
            respondió: "Tu madre". Entonces el hombre le pregunto quien seria
            después de ella, y el profeta respondió: "Tu madre". Al preguntarle
            una tercera vez recibió la misma respuesta: "Tu madre". La cuarta vez
            que repitio la misma pregunta la respuesta fue: "Tu padre". Cuidar a los
            padres en el Islam es extremadamente importante. Para el musulman no hay dia de la madre o dia del padre, porque aquellos dias son todos los dias! </div>
        </li>

        <hr>
        <li>
            <h4>"Se siempre veraz"</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li> Un musulmán no miente ni rompe sus promesas.</li>
            <li> Allah se enoja con los que dicen mentiras.</li>
            <li> Una mentira conduce hacia otras mentiras.</li>
            </ul>
            <div>La mentira es la raíz de toda maldad. Podemos ocultarle algo a alguien con una mentira, pero a Allah no se le puede ocultar nada. Debemos cobrar conciencia de la importancia de la veracidad. Si todo el mundo dijera la verdad, viviríamos en un mundo con menos problemas.</div>
        </li>

        <hr>
        <li>
            <h4>"La purificación es la mitad de la fe"</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li> Allah ama a quienes son limpios y ordenados.</li>
            <li> No debemos desperdiciar nuestra higiene con cosas que la dañen o ensucien.</li>
            <li> Mis tareas, mi espacio y mi ropa deben estar siempre ordenados. </li>
            </ul>
            <div>En el Islam es muy importante estar siempre limpio. Debemos ser cuidadosos cuando comemos una cebolla u otro alimento y vamos a rezar al masgid (mezquita) sin limpiarnos. Es muy importante no molestar a otra persona por nuestra higiene. Allah le gusta la gente limpia y ordenada.</div>
        </li>


        <hr>
        <li>
            <h4>"El mejor de ustedes es aquel que tiene el carácter más bello"</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li> Embellece tu carácter.</li>
            <li> Ten misericordia por los más jóvenes y respeta a los mayores.</li>
            <li> Se honesto y cuidadoso.</li>
            <li> Se obediente y esforzado. </li>
            </ul>
            <div>Es importante siempre mantener la calma y ser amable. Incluso si alguien te habla mal, no debemos responderle hablando mal. Debemos siempre sonreír y hablar de forma respetuosa como el Profeta Muhammad (Sallallahu Alaihi Wa Sallam) solia hacer. </div>
        </li>

        <hr>
        <li>
            <h4>"Se amable con tu vecino, seras un creyente (verdadero)."</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li> Un verdadero creyente cuida a sus vecinos.</li>
            <li> Les da de comer cuando estan hambrientos.</li>
            <li> Los visita cuando estan enfermos.</li>
            <li> No los daña, ni hiere sus sentimientos.</li>
            </ul>
            <div>Siempre hay que ser amables con los vecinos y cuidarlos. Hay que ser cuidadosos de no estacionar el carro de una forma que pueda incomodar o molestar al vecino. </div>
        </li>


        <hr>
        <li>
            <h4>"Quiera para los demás, lo que quiere para usted mismo. Será un verdadero creyente."</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li>Somos todos hermanos y hermanas de una gran familia.</li>
            <li> Los musulmanes no son egoístas.</li>
            <li> Compartimos las cosas con nuestros hermanos y hermanas.</li>
            <li> Siempre tratamos de ayudar y ser cuidadosos con los demás.</li>
            </ul>
            <div>Debemos compartir las cosas, especialmente con los que no tienen. Debemos no solo compartir sino regalar, por ejemplo a los pobres. Todos somos una familia, y hay que tratar bien a todos, sea un hermano musulmán o sea un hermano de otra religion.  </div>
        </li>


        <hr>
        <li>
            <h4>"Cada obra buena es caridad."</h4>

            <div style="font-weight:bold;">Puntos clave:</div><ul>
            <li>Una sonrisa es caridad.</li>
            <li> Los musulmanes no son egoístas.</li>
            <li> Ayudar a un amigo es caridad.</li>
            <li> Cuidar a los animales es caridad. </li>
            </ul>
            <div>Cada buen acto es una obra de caridad, por mas pequeńa que sea. Allah lo recompensara en la otra vida. Solo darle chance a alguien de pasar antes que nosotros en la calle cuando estamos manejando es una obra de caridad.  </div>
        </li>


        <hr>
        <li>
            <h4>"Hagan comun el salam entre ustedes."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> El salam es un dua para nuestros hermanos musulmanes. El salam crea amor entre los musulmanes. Debemos procurar ser siempre los primeros en ofrecer el salam. Hacemos el salam a aquellos que conocemos y que no conocemos. Debemos saludar a nuestros mayores y a los más pequeńos. Debemos hacer del salam una práctica común saludando cada vez que nos encontramos un musulmán o que dejamos su compañía.
            </div>
        </li>

        <hr>
        <li>
            <h4>"Háganse regalos, se amarán entre ustedes."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> Los musulmanes fortalecen su amor entre sí a través del intercambio de regalos. Un regalo muestra amistad y aprecio. No damos regalos para chantajear a la gente. Asimismo, no pedimos regalos. Siempre aceptamos un regalo alegremente, incluso, aunque se trate de algo de poco valor.
            </div>
        </li>

        <hr>
        <li>
            <h4>"Comida"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div>"El Profeta (Sallallahu alaihi wa sallam) nunca saco defectos en la comida. Si le gustaba comía, y si no, lo dejaba."

            La comida es una bendicion de Allah. Nunca debemos quejarnos sobre la comida que esta en la mesa. Si no nos gusta la comida no debemos quejarnos. Si no somos agradecidos de Allah, El apartara Sus Bendiciones. Mucha gente no tiene ni siquiera para comer. Hay gente que debe buscar su comida en la basura o debe pedir a la gente para poder comer. </div>
        </li>

        <hr>
        <li>
            <h4>"Comer"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> "Vi a Rasûllullâh (Sallallâhu `alaihi wa sallam) comer con tres dedos y cuando terminaba, chupaba sus dedos."

                El Islâm nos enseña modales para comer. Debemos lavarnos las manos antes de comer, sentarnos y harcerlo con la mano derecha. Usamos tres dedos, el pulgar, el índice y el dedo medio. Si no puede comer con los tres dedos solamente, puede usar los cinco dedos también. Despues de comer nos chupamos los dedos antes de lavarnos las manos. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"Beber"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "No beban de un sorbo como lo hace el camello."

                El Profeta (sallalláhu álaihi wa sallam) bebía en tres sorbos. Beber de una sola vez es el hábito de algunos animales. Es contra los modales de comer y te hace parecer como una persona avara. Beber en sorbos es mejor para la digestión.
            </div>
        </li>
                <hr>
        <li>
            <h4>"Entrar al baño"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "Cuando el Mensajero de Allâh (sallalláhu 'alaihi wa sallam) entraba al baño decia: Oh Allâh! me refugio en Ti contra todo mal."

                Un baño es un lugar impuro. Los shayâtin (Satanas) gustan estar en lugares así, cuando recitamos el du'â antes de entrar al baño, Allâh nos protege de los shayatin (Satanás) y contra todos los males. 

            </div>
        </li>
                <hr>
        <li>
            <h4>"Salir del baño"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 

                "Cuando Rasûlullâh (sallalláhu 'alaihi wa sallam) salía del baño, decía: Perdóname!"

                Ser capaz de aliviarte de tus necesidades es una gran bendición de Allâh. Aquellos que no son capaces de aliviarse sufren de dolores e incomodidad. Nos refugiamos en Allâh de ser incapaces de agradecerle lo suficiente y de adorarlo por darnos el alivio de hacer nuestras necesidades. 

            </div>
        </li>
                <hr>
        <li>
            <h4>"Odio"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 

                "No se odien entre ustedes."

                Somos todos hermanos y hermanas de una misma familia. Debemos tratarnos con bondad y respeto. El odio causa disputas y peleas. Causa que nos comportemos indebidamente y de manera deshonesta. El odio divide amigos y familias. A Allâh no le gusta la gente que actúa con odio. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"Espiar"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "No espíen a los demás."

                No debemos buscar los secretos o debilidades de los demás. Un musulmán respeta la privacidad de la gente. No hay que espiar, un ejemplo de espiar es entrar a la casa de alguien sin permiso. La belleza de un musulmán es que deja de lado lo que no le concierne. Espiar conduce a la deshonestidad y al odio.
            </div>
        </li>
                <hr>
        <li>
            <h4>"Los Padres"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "La complacencia de Allâh es la complacencia del padre y el disgusto de Allâh es el disgusto del padre."

                    Todo lo que hacemos debe ser para complacer a Allâh. Si Allâh está complacido con nosotros, nos concederá lo mejor de esta vida y de la otra. Allâh solo esta complacido si nuestros padres estan complacido con nosotros. Si nuestros padres están disgustados, Allâh estará disgustado también. Cuando mostramos respeto y obediencia a nuestro padres, estamos mostrando en realidad respeto y obediencia de Allâh. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"Al hacer las necesidades."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "Quien haga sus necesidades, debe protegerse (de la vista de otros)."

                    No debemos hacer nuestras necesidades en presencia de otras personas. Es costumbre de los animales el hacer las necesidades frente a los demás y en lugares expuestos. Los musulmanes no dañan a los demás haciendo sus necesidades en lugares públicos o frente a la mirada de otras personas. Si tenemos que hacer nuestras necesidades donde no hay baños disponibles, debemos encontrar un lugar donde nadie pueda ver. Es un pecado gravísimo mostrar las partes privadas nuestras, o mirar las partes privadas de otras personas. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"El honor de un musulmán."</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "Insultar a un musulmán es pecado y matarlo es (un acto de) kufr".

                El Islâm nos enseña a respetar y honrar a todas las personas. No debemos decir cosas que hieran los sentimientos de los demás. Insultar es un acto de pecaminoso, que hace que Allâh se enoje con nosotros. Todos los musulmanes son hermanos. Nosotros debemos hacer la paz entre nuestros hermanos y no matar o dañar a ninguna persona. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"Préstamos"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 

                "La cosa prestada debe ser devuelta."

                Debemos evitar pedir prestado de los demás tanto como sea posible. Si tenemos que hacerlo, y pedimos algo prestado, tenemos que asegurarnos que:
                <ul>
                    <li>No le daremos mal uso.</li>
                    <li>No lo dejaremos en cualquier parte.</li>
                    <li>Lo devolveremos a su dueño en las mismas condiciones en que lo hemos recibido.</li>
                    <li>No esperaremos a que el dueño nos pida que le regresemos lo que nos prestó.</li>

                </ul>
            </div>
        </li>
                <hr>
        <li>
            <h4>"La ira"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "Evita enojarte."

                La ira es una mala cualidad, que hace que las personas digan cosas o se comporten contrariamente a las enseñanzas del Islâm. Cuando una persona esta enojada, Shaitân (Satanás) le hace decir o hacer cosas que están mal. Lo mejor que podemos hacer, cuando nos enojamos, es alejarnos y recitar: "At ta'awudh Audhu billahi minash shaitanir rajim". Una persona fuerte no es la que puede ganar una pelea, sino aquella que controla su ira. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"El Qurân"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "Traten con cuidado el Qurân".

                    Debemos cuidar el Qurân porque es el más grande de los libros revelados por Allâh. Debemos respetarlo pues este es un signo de Fe. Tratar con cuidado el Qurân significa:
                    <ul>
                        <li>Hacer wudû antes de tocarlo.</li>
                        <li>Recitar el Qurân con taÿwîd y de manera hermosa.</li>
                        <li>Conservarlo y recitarlo con respeto.</li>
                        <li>Practicar sus enseñanzas.</li>
                        <li>Cubrirlo y colocarlo en un lugar apropiado.</li>

                    </ul>
            </div>
        </li>
                <hr>
        <li>
            <h4>"Limpieza"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "La purificación es la mitad de la fe".
                <div>
                    La Fe se divide en dos partes:
                    <ul>
                        <li>La limpieza del corazón de toda idolatría, del orgullo y de las dudas sobre las cualidades de Allâh.</li>
                        <li>Limpiar el cuerpo de toda impureza</li>

                    </ul>
                    La limpieza del cuerpo es la mitad de la fe. Los musulmanes se mantienen limpios y puros todo el tiempo. Allâh ama a los limpios. La suciedad y la impureza son causa de enfermedades y de la proliferación de los microbios. Ademas, la gente rechaza a las personas sucias.
                </div>
                <div>
                        Nos mantenemos limpios:
                        <ul>
                            <li>Asegurandonos de no ensuciar nuestro cuerpo o ropa al ir al baño.</li>
                            <li>Lavandonos las manos después de hacer istinÿâ o antes de comer.</li>
                            <li>Cepillandonos los dientes regularmente.</li>
                            <li>Manteniendo nuestra ropa limpia.</li>
                            <li>Haciendo wudû para cada salâh.</li>
                            <li>Bañandonos con regularidad.</li>

                        </ul>

                </div>
            </div>
        </li>
                <hr>
        <li>
            <h4>"Bostezar"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "Cuando alguno de ustedes bostece, pongan su mano sobre la boca, pues shaitân entra por la boca abierta".

                El Profeta Muhammad (sallallâhu 'alaihi wa salam) dijo: "...bostezar es de Shaitân...cuando alguno de ustedes bosteza, el Shaitân se rie."
                Si no podemos evitar bostezar, tenemos que cubrirnos la boca con la mano. Es una mala costumbre abrir la boca para bostezar, especialmente cuando estamos en compañía de otras personas. 

            </div>
        </li>
                <hr>
        <li>
            <h4>"Estornudar"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                "Cuando el mensajero de Allâh (sallallâhu 'alaihi wa salam) estornudaba, se tapaba la boca con la mano, o con su ropa, para evitar hacer demasiado ruido".

                Estornudar hace que los gérmenes salgan fuera de nosotros. Cuando alguien estornuda, generalmente salpica mucosidades, por ellos, es importante que nos tapemos la boca, especialmente si hay otras personas con nosotros, de este modo también reduciremos el ruido que provocan. 
            </div>
        </li>
                <hr>
        <li>
            <h4>"Gratitud"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "Quien no agradece a la gente, no agradece a Allâh".

                Es nuestra obligación agradecer a las personas que nos ayudan, si no lo hacemos, no estamos siendo agradecidos con Allâh Ta'âlâ. La mejor forma de agradecer a alguien es haciendo du'â por el diciendo: "Ÿazâkallâh" que significa "Que Allâh Te recompense". Ademas, nosotros mostramos nuestro aprecio siendo corteses y amables con quienes nos ayudan. También podemos agradecer a alguien haciendo algo para beneficiarlo en retribución por algún favor que nos haya hecho. 

            </div>
        </li>
                <hr>
        <li>
            <h4>"Sonreir"</h4>

            <div style="font-weight:bold;">Puntos clave:</div>

            <div> 
                    "Nunca vi a alguien que sonriera mas que Rasûlullâh (sallallâhu 'alaihi wa salam)".

                    Cuando nos encontramos con nuestros amigos y parientes, sonreímos. Una sonrisa crea amistad e incrementa el amor entre las personas. Una sonrisa muestra que estoy contento de verle y que me gusta su compañía. Cuando alguien nos sonríe debemos decir: "Que Allâh Te conserve siempre sonriente".

            </div>
        </li>
    </ol>
</div>

</script>