<script type='text/template'>

<div class='container min-h-270'>
    <h3>Es Suficiente honor para ti ser Musulmana</h3>
<p>
    ...luego de toda dificultad, Allâh enviará un alivio...
</p>
    <p>
Todo lo que te sucede en realidad es una expiación para ti, si Allâh así lo dispone.
</p>
    <p>
Oye las buenas nuevas narradas en este Hadîth: "Si una mujer obedece a su Señor, ofrece sus cinco oraciones diarias y preserva su honor, ingresará al Paraíso de su Señor".
</p>
    <p>

Estas cuestiones son fáciles para quien Allâh se las facilita. Así que cumple con estas acciones, de modo que conozcas al Misericordioso que te brindará felicidad en este mundo y en el Más Allá. Sigue Sus leyes sin importar donde te conduzcan y adhiérete al Libro de Allâh y a la Sunnah de Su Mensajero (sallallâhu 'alaihi wa sallam), ya que eres una mujer musulmana y eso es un gran honor y una fuente de orgullo. Muchas mujeres nacieron en tierras de incredulidad, no obstante Allâh te eligió para que seas una mujer musulmana y  te hizo una de las seguidoras de Muhammad (sallallâhu 'alaihi wa sallam), recorriendo los pasos de 'Âishah, Jadîyah y Fâtimah (radiallâhu Ta'âla 'anhum).
</p>
    <p>
Felicitaciones, porque estás complacida con Allâh como tu Señór, el Islam como tu religión y con Muhammad (sallallâhu 'alaihi wa sallam) como tu Profeta.
</p>
    <p>
Tu oro es tu religión, tu belleza es tu actitud y tu riqueza son tus buenos modales. 
</p>
</div>

</script>