
<script type="text/template">
<div class="jumbotron header1 shadow">
  <div class="container min-h-270">
	<!--<h2 class='fc-white text-shadow-black fs-40'>Assalamu Alaikum Warahmatullahi Wabarakatuh</h2> 
	<h3 class='fc-white text-shadow-black fs-30'>Que la paz, merced y bendicion de Allah este con usted.</h3> -->
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active fs-25"><a href="" >Inicio</a></li>
    <li class="dropdown fs-25">
        <a href="test" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Islam <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">5 Pilares</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Mujer en el Islam</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">No Estes Triste</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">La Verdad</a></li>
          <li><a href="test" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Ciencia y Sunnah</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Ramadán</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Reglas del baño</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Quran</a></li>
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Salah (Namaz)</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Qiblah</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Duas</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Hadith</a></li>

        </ul>
    </li>
    <li class="dropdown fs-25">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Multimedia <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Islam Radio Panama</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Videos</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Audios</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Panama <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Mezquitas</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Escuela Islamica</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Actividades</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Horarios de Salah en Panama</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Horarios de Jamat en Jummah Masgid</a></li>

        </ul>
    </li>
    <li class="dropdown fs-25">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Contactenos <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Email</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Direccion Panama</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Twitter</a></li>
        </ul>
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h4>PREPARÁNDONOS PARA EL MES DE RAMADÁN</h4>
      	<p>
          A pocas semanas del mes sagrado de Ramadán, debemos preocuparnos por empezar a planificarnos y administrar nuestro tiempo de forma efectiva, adelantando los quehaceres que pueden reducir nuestro tiempo de Ibadat, de paz y tranquilidad.
      	</p>
          	<p>Aquí algunos consejos útiles:</p>
        <ol>
          <li>Ten colgado en tu closet la ropa de Eid tuya y la de tu familia.  Igualmente los regalos para tus familiares y allegados,  debidamente empacados y etiquetados con el nombre.  Sal de compras  ahora y no pierdas un solo minuto de tu tiempo decidiendo qué ponerte o qué regalar.</li>
          <li>Planifica tu menú y mantén tu supermercado al día.  Esto evitará salidas innecesarias durante el mes de Ramadán.  Igualmente prepara y congela tus picadas y alimentos que consumirás durante el mes.</li>
          <li>Analiza tu rutina y verifica los momentos en que tengas más energías o cuando baje la intensidad.  Toma el tiempo que utilizas alistando a los niños para el colegio o preparando el Iftaar.  Aprovecha cuando estés lleno de energías (generalmente después de Fayr), para recitar el Quran, hacer Ibadat o  hacer los quehaceres del hogar para luego descansar.</li>
          <li>Prepara una lista de duas que quieras hacer este mes.  Márcalos y de esta manera se te hará fácil practicarlo.  Si no se encuentran en un solo libro (kitab), sácale copia y arma un folder.  De esta forma garantizarás que no se te queda ninguno por fuera.   Divídelos de la siguiente manera: duas que rezaré despúes de Fayr, duas para antes de Iftar, duas después de Taraweeh ,  duas para Tahajjud.  Esto es solo un ejemplo, puedes hacerlo como mejor se te acomode.  Coloca tu folder al lado de tu musal-la,  de esta forma no te dará pereza rezarlos aunque estés cansado.</li>
          <li>Empieza a bajar la cantidad de comida que ingieres diariamente desde ahora.  Entrena tu cuerpo para sentir un poquito de hambre cada día.  Practica algún tipo de ejercicio para ganar energías. Igualmente se aconseja entrenar nuestro estómago y el  cerebro será el responsable de controlar nuestro temperamento.  Cuando el cerebro se conecta con nuestro  estómago vacío, perderemos el control.</li>
          <li>Proponte metas  que puedas cumplir.  Diariamente rezaré X cantidad de partes  (suparos) del Quran.  Concéntrate y durante tus quehaceres diarios,  haz Zikar.   Después de Maghrib cena liviano para que puedas hacer Taraweeh.</li>
          <li>Aléjate de aquellas personas o situaciones  que puedan causarte estrés o te transmitan inquietud.  Mantén la calma y aprovecha esa paz que solo sentimos en el mes de Ramadán.</li>

        </ol>
      </div>
      <div class="col-md-2">
        <h4 class='text-danger'>Horario de Namaz en Panama</h4>
        <p><span class="text-success">Fazar</span> <span id='fazar'></span> A.M</p>
        <p><span class="text-success">Zohar</span> <span id='zohar'></span> P.M</p>
        <p><span class="text-success">Asar </span><span id='asar'></span> P.M</p>
        <p><span class="text-success">Magrib</span> <span id='magrib'></span> P.M</p>
        <p><span class="text-success">Isha </span><span id='isha'></span> P.M</p>
        <div class='pt-20'>
          <img src="images/email.jpg" style="border:solid black 2px;"  />
          <h4>Subcribase a nuestra lista de correos!</h4>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://islamenpanama.us7.list-manage.com/subscribe/post?u=c66f05b73fcdbc3b30c8f94ee&amp;id=cc47517ca1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label>Email:</label>
            <input type="email" size="13" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">  <BR/> 
            <input type="submit" value="Subscribase" name="Subscribe" id="mc-embedded-subscribe" class="btn btn-default">
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  <hr>

  <footer>
    <p>&copy; Islam en Panama</p>
  </footer>
</div> <!-- /container -->



</script>
