
<script type="text/template">
<div class="jumbotron header1 shadow">
  <div class="container min-h-200">
	<!--<h2 class='fc-white text-shadow-black fs-40'>Assalamu Alaikum Warahmatullahi Wabarakatuh</h2> 
	<h3 class='fc-white text-shadow-black fs-30'>Que la paz, merced y bendicion de Allah este con usted.</h3> -->
  </div>
</div>

<div class="container main-menu">
  <ul class="nav nav-tabs nav-justified">
    <li class="dropdown fs-25">
        <a  class="dropdown-toggle">Islam <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#/main" class='menu-link'>Inicio</a></li>
          <li><a href="#/pilares"  class='menu-link'>5 Pilares del Islam</a></li>
          <li class='p-relative submenu1'>
            <a class='cursor-p'>Mujer en el Islam<span class="caret"></span></a>
            <div class='submenu2'>
              <div class='b-b-grey'><a href='#/mujer' class='pl-10'>La Musulmana</a></div>
              <div class='b-b-grey'><a href='#/mujer/hiyab' class='pl-10'>El Hiÿâb</a></div>
              <div class='b-b-grey'><a href='#/mujer/honor' class='pl-10'>Honor</a></div>
              <div class='b-b-grey'><a href='#/mujer/madre' class='pl-10'>La Madre</a></div>
              <div class='b-b-grey'><a href='#/mujer/igualdad' class='pl-10'>Igualdad</a></div>
              <div><a class='pl-10' href='#/mujer/esposo'>Esposo</a></div>
            </div>
          </li>
          <li><a href="#/noTriste"   class='menu-link'>No Estes Triste</a></li>
          <li><a href="#/verdad"   class='menu-link'>La Verdad</a></li>
          <li><a href="#/ciencia"   class='menu-link'>Ciencia y Sunnah</a></li>
          <li class='p-relative submenu1'>
            <a class='cursor-p'>Ramadán<span class="caret"></a>
            <div class='submenu2'>
              <div class='b-b-grey'><a href='#/ramadan' class='pl-10'>Ramadan</a></div>
              <!-- <div class='b-b-grey'><a href='#/ramadan/horario' class='pl-10'>Horarios</a></div>-->
              <div class='b-b-grey'><a href='#/ramadan/ayunos' class='pl-10'>Ayunos</a></div>
              <div class='b-b-grey'><a href='#/ramadan/quienesAyunar' class='pl-10'>Quienes deben Ayunar</a></div>
              <div class='b-b-grey'><a href='#/ramadan/duas' class='pl-10'>Duas</a></div>
              <div><a class='pl-10' href='#/ramadan/taraweeh'>Taraweeh</a></div>
            </div>
          </li>
          <li><a href="#/quran"  class='menu-link'>Quran</a></li>
          <li><a href="#/salah"  class='menu-link'>Salaah (Oración)</a></li>
          <li><a href="#/qiblah"  class='menu-link'>Qiblah</a></li>
          <li><a href="#/duas"  class='menu-link'>Duas</a></li>
          <li><a href="#/hadith"  class='menu-link'>Hadith</a></li>
          <li><a href="#/bano"  class='menu-link'>Reglas del baño</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a class="dropdown-toggle">Multimedia <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#/islamRadio" class="menu-link">Islam Radio Panama</a></li>
          <li><a href="#/videos" class="menu-link">Videos</a></li>
          <li><a href="#/audios" class="menu-link">Audios</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a  class="dropdown-toggle">Panama <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#/mezquitas" class="menu-link">Mezquitas</a></li>
          <li><a href="http://centroeducativopanama.com" class="menu-link">Escuela Islamica</a></li>
          <li><a href="#/salahPanama" class="menu-link">Horarios de Salah en Panama</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a href="#"  class="dropdown-toggle">Contactenos <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="menu-link" tabindex="-1" role="tab" data-toggle="tab">Email</a></li>
          <li><a href="#dropdown2" class="menu-link" tabindex="-1" role="tab" data-toggle="tab">Direccion Panama</a></li>
          <li><a href="#dropdown2" class="menu-link" tabindex="-1" role="tab" data-toggle="tab">Twitter</a></li>
        </ul>
    </li>
  </ul>
  
  
</div> <!-- /container -->



</script>
