
<script type="text/template">
<div class="jumbotron header1 shadow">
  <div class="container min-h-270">
	<!--<h2 class='fc-white text-shadow-black fs-40'>Assalamu Alaikum Warahmatullahi Wabarakatuh</h2> 
	<h3 class='fc-white text-shadow-black fs-30'>Que la paz, merced y bendicion de Allah este con usted.</h3> -->
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="dropdown fs-25">
        <a  id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Islam <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="main" onclick="location.href='#/main'"  tabindex="-1" role="tab" data-toggle="tab">Inicio</a></li>

          <li><a href="#" onclick="location.href='#/pilares'"  tabindex="-1" role="tab" data-toggle="tab">5 Pilares del Islam</a></li>
          <li><a href="#" onclick="location.href='#/mujer'"  tabindex="-1" role="tab" data-toggle="tab">Mujer en el Islam</a></li>
          <li><a href="noTriste"  tabindex="-1" onclick="location.href='#/noTriste'" role="tab" data-toggle="tab">No Estes Triste</a></li>
          <li><a href="verdad"  tabindex="-1" onclick="location.href='#/verdad'" role="tab" data-toggle="tab">La Verdad</a></li>
          <li><a href="ciencia"  tabindex="-1" onclick="location.href='#/ciencia'" role="tab" data-toggle="tab">Ciencia y Sunnah</a></li>
          <li><a href="ramadan"  tabindex="-1" onclick="location.href='#/ramadan'" role="tab" data-toggle="tab">Ramadán</a></li>
          <li><a href="quran"  tabindex="-1" onclick="location.href='#/quran'" role="tab" data-toggle="tab">Quran</a></li>
          <li><a href="salah"  tabindex="-1" onclick="location.href='#/salah'" role="tab" data-toggle="tab">Salaah (Oración)</a></li>
          <li><a href="qiblah"  tabindex="-1" onclick="location.href='#/qiblah'" role="tab" data-toggle="tab">Qiblah</a></li>
          <li><a href="duas"  tabindex="-1" onclick="location.href='#/duas'" role="tab" data-toggle="tab">Duas</a></li>
          <li><a href="hadith"  tabindex="-1" onclick="location.href='#/hadith'" role="tab" data-toggle="tab">Hadith</a></li>
          <li><a href="bano"  tabindex="-1" onclick="location.href='#/bano'" role="tab" data-toggle="tab">Reglas del baño</a></li>


        </ul>
    </li>
    <li class="dropdown fs-25">
        <a class="dropdown-toggle" data-toggle="dropdown">Multimedia <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="islamRadio" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/islamRadio'">Islam Radio Panama</a></li>
          <li><a href="videos" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/videos'">Videos</a></li>
          <li><a href="audios" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/audios'">Audios</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a  class="dropdown-toggle" data-toggle="dropdown">Panama <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/mezquitas'">Mezquitas</a></li>
          <li><a href="escuela" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/escuela'">Escuela Islamica</a></li>
          <li><a href="salahPanama" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab" onclick="location.href='#/salahPanama'">Horarios de Salah en Panama</a></li>
        </ul>
    </li>
    <li class="dropdown fs-25">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Contactenos <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Email</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Direccion Panama</a></li>
          <li><a href="#dropdown2" class="dropdown-childs" tabindex="-1" role="tab" data-toggle="tab">Twitter</a></li>
        </ul>
    </li>
  </ul>
  
  
</div> <!-- /container -->



</script>
