<script type='text/template'>

<div class='container min-h-270'>
    <h2>Mezquitas en Panama</h2>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/masgid_aveMex.JPG">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jummah Masjid</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Ave. Mexico</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/madina.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Madina Masjid</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Vista Hermosa</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/carrasquilla.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Carrasquilla</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Carrasquilla</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
           Si tienen la imagen de este masjid porfavor mandar a islamenpanama@gmail.com
            
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Loceria</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>La Loceria</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/betania.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Betania</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Betania</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
           Si tienen la imagen de este masjid porfavor mandar a islamenpanama@gmail.com
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Central</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Ave. Central</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
           Si tienen la imagen de este masjid porfavor mandar a islamenpanama@gmail.com
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Via Caceres</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Via Caceres</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
           Si tienen la imagen de este masjid porfavor mandar a islamenpanama@gmail.com
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Jamaat Khana Perejil</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Perejil</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
           Si tienen la imagen de este masjid porfavor mandar a islamenpanama@gmail.com
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Madresa (Escuela Islamica)</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Chorrera</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/colon.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid de Colon</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Colon</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/penonome.JPG">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid de Cocle</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Cocle (Penonome)</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/chitre.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid de Chitre</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Herrera (Chitre)</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/santiago.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid de Veraguas</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Veraguas (Santiago)</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/david.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid de Chiriqui</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Chiriqui (David)</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-10 pb-20">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/changuinola.jpg">
        </div>
        <div class="col-md-6">
            <div>
                <span class='fs-25 bold'>Nombre:</span><span class='fs-25 pl-10'>Masjid Bocas del Toro</span>
            </div>
            <div>
                <span class='fs-25 bold'>Localizacion:</span><span class='fs-25 pl-10'>Bocas del Toro (Changinola)</span>
            </div>
        </div>
    </div>
</div>

</script>