<script type='text/template'>

<div class="container">
    <table id='pilaresTable' cellpadding="5" style="font-size:20px;">
    <tr class="b-b">
        <td>1) El testimonio de que no hay más dios que Allâh y de que Muhammad(S.A.W) es el Mensajero de Allâh.</td>
        <td><img src="images/allah.png" /><img src="images/muhammad.png " /></td>
    </tr>
    <tr class="b-b">
        <td>2) Hacer la oración (Salah 5 veces al dia) Fajr, Zohar, Asar, Magrib e Isha. A la derecha estan los horarios de rezo por dia.</td>
        <td><img src="images/namaz.jpg" width="300" height="200" /></td>
    </tr>
    <tr class="b-b">
        <td>3) Pagar el zakâh. Pagar el 2.5% del valor del bien que uno hace en un a&#241;o a caridad. </td>
        <td><img src="images/zakat.jpg" /></td>
    </tr>
    <tr class="b-b">
        <td>4) La peregrinación a la casa (la Ka’bah). Ir a Makkah en Arabia Saudita y hacer la peregrinacion.</td>
        <td><img src="images/khabah.jpg" /></td>
    </tr>
    <tr>
        <td>5) El ayuno del mes sagrado de Ramadân.</td>
        <td><img src="images/ramadan.jpg" /></td>
    </tr>
    </table>




</div>

</script>