<script type='text/template'>

<div class='container p-10'>
    <h3>Qiblah</h3>
    <p>
        El qiblah es la direccion en donde los musulmanes orientan sus rezos del Salah. Esta direccion apunta hacia el Kabah en Mecca (Arabia Saudida). 
        El hecho de que todos los musulmanes rezen orientados hacia la misma direccion representa una unidad musulmana alreadedor del mundo bajo las leyes de Allah. 
    </p>
    <p>
        Como la tierra es circular pueden existir dos direcciones hacia el Kabah, pero en ese caso se debe usar la direccion mas corta. Desde Panama el Kabah se encuentra a 12,587 
        kilometros y la direccion del qiblah es 62.01° del Norte al Este. Si se encuentra en Panama y no sabe la direccion del qiblah puede rezar hacia la direccion de donde sale el sol. 
    </p>    
    <div class="row pb-20">
        <div class="col-md-3">
            <img class="imgBody2"  src="images/kaaba.jpg" />
        </div>
        <div class="col-md-3 pt-100">
            <b>Kabah</b> (Mecca, Arabia Saudita)            
        </div>
        <div  class="col-md-3">
            <img class="imgBody2" src="images/qiblah.jpg" />
        </div>
        <div  class="col-md-3 pt-100">
            <b>Direccion del Qiblah</b><BR/> (62.01&deg; Norte a Este)
        </div>
    </div>
</div>
</script>