<script type='text/template'>

<div class='container p-10'>
    <h3>El Qurán</h3>
    <h4>El mensaje de Allah hacia la humanidad</h4>
    <ul>
        <li>El significado de la pala 'Coran' es 'leer' o 'lo que es leido'.</li>
        <li>Los primeros versos del Corán fueron revelados en la cueva Hira en el Monte Noor en (Makkah).</li>
        <li>Los primeros versos del Corán fueron revelados en Laylatul-Qadr (La noche del poder), en el mes de Ramadhan.</li>
        <li>Allah Le revelo el Corán al Profeta Muhammad (sallallâhu ‘alaihi wa sallam) por medio del Angel Jibraeel (Gabriel).</li>
        <li>El Corán fue revelado al Profeta Muhammad (sallallâhu ‘alaihi wa sallam) sobre un periodo de 23 Años. Algunas prociones fueron reveladas en la ciudad de Makkah Al-Mukarramah y otras porciones en la ciudad de Madina Al-Munawwarah.</li>
        <li>La primera palabra revelada del Corán, fue "IQRA" es decir "Lee" o "Leer"!</li>
        <li>Los otros nombres para el Corán, según el mismo Corán son: Al-Furqaan (El Criterio), Al-Kitaab (E; Libro), Az-Zikr (El Recuerdo), Un-Noor (La Luz), Al-Huda (La Guia).</li>
        <li>La primera persona que memorizo todo El Glorioso Corán, fue Profeta Muhammad (sallallâhu ‘alaihi wa sallam).</li>
        <li>Por cada letra recitada, del Corán, la persona gana 10 recompensas.</li>
        <li>Aprender un verso del Corán es mejor que 100 Rakats de Nafl Salaah (oracion obligatoria).</li>
        <li>El único libro que es memorizado eternamente por millones de personas en el mundo, es el Corán. Allah, el Todopoderoso, ha tomado la responsabilidad de preservar el Corán.</li>
        <li>El Libro mas leido en el mundo, es el Corán.</li>
        <li>El Corán es el unico libro sagrado que permanece sin alteraciones y sin camio alguno.</li>
        <li>El Corán es dividido en 30 sessiones iguales, llamado 'Juz'.</li>
        <li>El Corán consiste en 114 capítulos cada uno conocido como 'Surah'.</li>
        <li>Hay 540 Rukuh (párrafos) en el Corán y cada capítulo (Surah) es formado de varios Aaayats (versos). El número total de "Aayats" en el Corán es de 6666.</li>
        <li>Hay 14 versos (Aayats) en el Corán donde la postración es necesaria cuando uno recita o cuando alguien escucha a alguien mas recitarlo.</li>
        <li>El nombre de Profeta Muhammad (sallallâhu ‘alaihi wa sallam) es mencionado en el Corán 5 veces: 4 veces como Profeta Muhammad (sallallâhu ‘alaihi wa sallam), y una vez como 'Ahmad' (sallallâhu ‘alaihi wa sallam).</li>
        <li>Jesús (Isa 'alaihi sallam') es mencionado en    el Corán más veces que el Profeta Muhammad (sallallâhu ‘alaihi wa sallam).</li>
        <li>Es acentuado en El Corán acerca de Salah (Namaz - Oración) 700 veces.</li>
        <li>El verso más grande y virtuoso en el Corán, es Ayatul Kursi.</li>
        <li>El Capitulo (Surah) mas largo en el Corán es Surah Al-Baqarah, que tiene 286 versos.</li>
        <li>El Capítulo (Surah) más coroto es el Surah Kawthar, que tiene 3 versos.</li>
    </ul>
    <hr>
    <div> 
        El lenguaje original del quran fue en arabe, pero hoy en dia se encuentra 
        traducido en muchos otros lenguajes. Debajo podra leer el quran en español si
        desea leer la version arabe presione donde dice Quran adentro de la aplicacion.
        Sea paciente porfavor mientras la applicacion se carga.
    </div>
    <BR/>
    <div>
        <iframe name="iframe" src="http://tanzil.net/#trans/es.asad/1:1" width="100%"   height="800"    scrolling="auto" align="top" frameborder="0" class="wrapper">
        Esta opción no trabajara correctamente. Desafortunadamente su navegador no soporta Inline Frames
        </iframe>
    </div>
</div>

</script>