<script type='text/template'>
<div class='container min-h-270'>
<h2>Horario de los Salah (Namaz/Oración) en Panama</h2>

<div>
    <span class='fs-25 bold'>Fazar:</span><span class='fs-25 pl-10' id='fazar'></span>
</div>
<div>
    <span class='fs-25 bold'>Zohar:</span><span class='fs-25 pl-10' id='zohar'></span>
</div>
<div>
    <span class='fs-25 bold'>Asar:</span><span class='fs-25 pl-10' id='asar'></span>
</div>
<div>
    <span class='fs-25 bold'>Magrib:</span><span class='fs-25 pl-10' id='magrib'></span>
</div>
<div>
    <span class='fs-25 bold'>Isha:</span><span class='fs-25 pl-10' id='isha'></span>
</div>
    
</div>
</script>