<script type='text/template'>

<div class='container p-10'>
    <h3>Salah (Namaz), oración 5 veces al Dia</h3>
    <h4>Introducción</h4>
    <p>
        Las 5 oraciones diarias están entre los mejores actos de adoración que realiza el musulmán. Llevarlas a cabo es la mejor acción luego de tener la fe correcta en Allâh y Su Mensajero, el Profeta Muhammad (sallallahu 'alaihi wa sallam), quien fue preguntado acerca de cuál es la mejor acción y dijo: "Es realisar la oración en el comienzo de su tiempo" (al Baihaqî). Allâh dice en la Sûrah An-Nisâ [4], âyah 103: إِنَّ الصَّلوةَ كَانَتْ عَلَى الْمُؤْمِنِينَ كِتَابًا مَّوْقُوتًا "Ciertamente la oración ha sido prescrita en tiempos determinados'. 
    </p>
    <p>
        Cuando decimos "oraciones", nos estamos refiriendo a actos de adoración a Dios que tienen una manera y esquema, como Dios mismo ha revelado al Profeta Muhammad (sallallahu 'alaihi wa sallam). Todos los Profetas, desde Adam hasta Muhammad (sallallahu 'alaihi wa sallam), ordenaron a sus seguidores rezar, como unaorden de Dios. 
    </p>
    <p>
        Dado que la oración es lo más importante del Islam después de tener la creencia correcta en Dios y Su Mensajero, uno debe planear su vida alrededor de la oración. Sería un gran pecado ser negligente con la oración en el trabajo, cuando una oración sea requería en ese momento. Si un creyente está de compras al centro comercial o esperando en el aeropuerto y no hay manera de llegar a casa o una mezquita, está obligado a realizar la oración en su debido tiempo en lugar de dejar fuera a propósito o retrasar la oración. Esto indica la importancia de la oración obligatoria. Haciendo la oración obligatoria a tiempo tiene prioridad sobre otros asuntos no obligatorios. 
    </p>
    <hr>
    <h4>Preparacion para el Rezo</h4>
    <p>
        La persona que esta rezando debe ser Musulman y debe de haber alcanzado un estado de discriminacion mental normalmente a los 7 años o mas.
    </p>
    <p>
        El musulman debe de tener el correcto Tarah(la purificacion) antes de rezar el Salah. Esto significa remover los najas (suciedad) y hacer
         wudu (limpieza con agua) o ghust (baño completo).
    </p>
    <hr>
    <h4>Los 5 Salah</h4>
    <p>
        Debajo se encuentran los horarios de los 5 salah diarios. Deben rezarse entre esas horas. Deben rezarse no importa donde uno se encuentre. Si esta en el trabajo debe parar de trabajar, rezar y luego continuar trabajando. No solo te despeja la mente de los trabajos diarios, sino que tambien es una excelente forma de ejercicio y buena salud. Pero el beneficio mas grande es que rezas para Allah y alimentas a tu espiritu. Los 5 salah son: 
    </p>


    <h4 class='text-danger'>Horario de Namaz en Panama</h4>
    <p><span class="text-success">Fazar</span> <span id='fazar'></span> A.M</p>
    <p><span class="text-success">Zohar</span> <span id='zohar'></span> P.M</p>
    <p><span class="text-success">Asar </span><span id='asar'></span> P.M</p>
    <p><span class="text-success">Magrib</span> <span id='magrib'></span> P.M</p>
    <p><span class="text-success">Isha </span><span id='isha'></span> P.M</p>

</div>

</script>