<script type='text/template'>

<div class='container'>
    <h3>La Firme Adhesión a la Verdad</h3>
    <p>
        <img class="imgBody" src="images/rose.jpg">
        Los musulmanes son veraces con todo el mundo porque han absorbido las enseñanzas del Islam que alientan la veracidad y la consideran la principal de las virtudes, mientras que
        a falsedad está prohibida y considerada la fuente de todos los males y actos repudiables.
    </p>
    <p>
        Los musulmanes creen que la veracidad naturalmente los lleva a la bondad, y que quien la practique será admitido en el Paraíso, mientras que la falsedad conduce a la iniquidad, 
        y que quien la practique será enviado al Infierno. El Profeta (sallallâhu alaihi wa sallam) dijo: 

        Allâh es una palabra árabe que significa 'La única y Verdadera Deidad', el nombre propio del único que creó los cielos y la tierra. Los judíos y cristianos de habla árabe también
        llaman a Dios con el nombre Allâh. Para un musulmán, Allâh es el Supremo y el más exclusivo de todos los nombre de Dios, denota al único que debe ser adorado, el único que creó todo
        lo que existe.
    </p>
    <p>
        “La veracidad lleva a la piedad (birr), y la piedad lleva a su vez al Paraíso. Si un hombre siempre dice la verdad es registrado ante Allâh como un sincero amante de la verdad
        (siddiq). La falsedad lleva a la iniquidad, y la iniquidad lleva al Infierno. Si un hombre siempre dice falsedades es registrado ante Allâh como un mentiroso”. 
    </p>
    <p>
        Por ende, los musulmanes se preocupan en ser sinceros amantes de la verdad al esforzarse en ser auténticos en todas sus palabras y actos. ésta es la sublime condición 
        alcanzada solamente a través del temor de Allâh. Los musulmanes, por medio de su veracidad, pureza de corazón, y virtud, estarán registrados ante Allâh como honrados amantes de la verdad. 
    </p>
    <p>
        Los musulmanes son honrados, veraces y consecuentes, nunca ambiguos, incoherentes o mentirosos, no importa que difícil sean sus relaciones con las personas. 
    </p>
    <p>
        Esta sinceridad en la vida y en el comportamiento de los musulmanes no es algo opcional. Es una conducta que han ordenado Allâh y Su Mensajero (sallallâhu alaihi wa sallam),
        y en muchos de los versículos del Qurân viene luego de la creencia en Allâh en importancia. 
    </p>
    <p>
        “Realmente los que hayan dicho: Mi Señor es Allâh y hayan sido rectos, los ángeles descenderán a ellos: No temáis ni os entristezcáis y alegraos con la buena nueva del 
        Jardín que se os había prometido. Somos vuestros protectores en esta vida y en la última, allí tendréis lo que deseen vuestras almas y todo cuanto pidáis. Hospedaje 
        de un Perdonador, Compasivo” (41: 30 a 32). 
    </p>
    <p>
        Así será la recompensa para los creyentes sinceros y honrados. Tendrán un rango muy honorable el Día del Juicio, y los ángeles les contentarán con la más hermosa noticia. 
    </p>
    <p>
        Esta rectitud en el comportamiento es difícil de alcanzar, y por ello únicamente los creyentes piadosos que han consagrado sus vidas puramente a Allâh y se han librado
        de las ataduras de ser siervos de otros que no sean Allâh, como la riqueza, la influencia, el poder y el ocio pueden lograrlo. No nos debe sorprender entonces que su 
        recompensa sea inmensa y que gocen ante Allâh de una elevada categoría.
    </p>
</div>

</script>